<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>PPRZ on BeagleBone</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="pull-left" style="margin-left:10px;">
                   <img src="images/penguin_logo.svg" onerror="this.onerror=null; this.src='images/penguin_logo.png'" alt="pprzWeb" height="42" width="42" >
                </div>
          
                <a class="navbar-brand" href="index.html">PPRZ WebController</a>
            </div>
            <!-- /.navbar-header -->


            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                        <li>
                            <a href="/"><i class="fa fa-desktop fa-fw"></i> Main</a>
                        </li>
                        <li>
                            <a href="/trackers"><i class="fa fa-crosshairs fa-fw"></i> Trackers</a>
                        </li>
                        <li>
                            <a href="/system"><i class="fa fa-cogs fa-fw"></i> System</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">

        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tracker Controls</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row col-xs-12 col-md-10 col-lg-8">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tracker Parameters</h3>
                    </div>
                  <div class="panel-body">
                    <div class="container">
                        <form role="form" class="form-horizontal">
                        	
						    <div class="form-group">
						      <div class="col-sm-3"><label>Tracker</label><select name="TrackerListN" class="form-control" id="TrackerListId"></select></div>
						      <div class="col-sm-3"><label>Aircraft</label><select name="AcListN" class="form-control" id="AcListId"></select></div>
						    </div>

						    <div class="form-group">
						      <div class="col-sm-3">
						        <button id="SetTracker" class="btn btn-success col-xs-12 col-md-12 col-lg-12">Start Tracking</button> 
						      </div>
						      <div class="col-sm-3">
						        <button id="StopTracker" class="btn btn-danger col-xs-12 col-md-12 col-lg-12">Stop Tracking</button>  
						      </div>
						    </div>

						    <div class="form-group">
						      <label class="col-sm-12">Tracker Position:</label>
						      <div class="col-sm-2"><input class="form-control" type="text" id="LatitudeInput" placeholder="Latitude"><div class="help">Latitude</div></div>
						      <div class="col-sm-2"><input class="form-control" type="text" id="LongtitudeInput" placeholder="Longtitude"><div class="help">Longtitude</div></div>
						      <div class="col-sm-2"><input class="form-control" type="text" id="AltitudeInput" placeholder="Altitude"><div class="help">Altitude</div></div>
						    </div>
                            
                            <div class="form-group">
                              <div class="col-sm-3">
                            	<div class="btn-group" role="group" aria-label="...">
		                          <button id="PanPlus" class="btn btn-info">p +</button>
		                          <button id="PanMins" class="btn btn-info">p -</button>   
		                          <button id="TiltPlus" class="btn btn-primary">t +</button>   
		                          <button id="TiltMins" class="btn btn-primary">t -</button>  
		                        </div>		                        
		                      </div>                    
		                      
		                      <div class="col-sm-3">
		                      	<button id="SetZero" class="btn btn-success col-xs-12 col-md-12 col-lg-12">SetZero</button>
		                      </div>      
		                              
		                    </div>
                                        
                                        
                        </form>
                    </div>
                  </div>
                  <div class="panel-footer">
                        
                </div>

        	</div>
        <!-- /.row -->


        </div>


        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

    <script type="text/javascript" src="js/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">

    $(document).ready(function() {

    var BaseUri = 'http://' + document.domain + ':' + location.port

    namespace = '/PprzOnWeb'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            
            // event handler for server sent data
            socket.on('AC_LIST', function(msg) {
                console.log(msg.data);
                parse_status_msg(msg);
                socket.emit('GetTrackersAc', {TrackerId: $('#TrackerListId').val()});
            });

            socket.on('TR_STATUS', function(msg) {
            	console.log('TR_STATUS Lat:' + msg.TrLat + ' Lon:' + msg.TrLon + ' Alt:' + msg.TrLat );
            	$('#LatitudeInput').val(msg.TrLat);
                $('#LongtitudeInput').val(msg.TrLon);
                $('#AltitudeInput').val(msg.TrAlt);
            });

            socket.on('TRACKERS_AC', function(msg) {
                
                console.log('TRACKERS_AC:' + msg.AcId);
                $('#AcListId').val(msg.AcId);
                
                
            });

    function parse_status_msg(inMsg) {
        console.log(inMsg.data);
        for (index = 0; index < inMsg.data.length; ++index) {
            
            console.log(inMsg.data[index].AcName);
            $('select#AcListId').append('<option value="' + inMsg.data[index].AcId + '">' + inMsg.data[index].AcName + '</option>');
            $('select#TrackerListId').append('<option value="' + inMsg.data[index].AcId + '">' + inMsg.data[index].AcName + '</option>');
        }

       
    }

    //Request AC list from server
    socket.emit('get_ac_list');

    //LinkStart button click
    $('#SetTracker').on ('click', function () {
    	if ($('#TrackerListId').val()==null || $('#AcListId').val()==null ) {
    		console.log('wrong selection.');
    		return;
    	}
        socket.emit('SetTracker', {TrackerId: $('#TrackerListId').val(), AcId:$('#AcListId').val(), Lat:$('#LatitudeInput').val(), Lon:$('#LongtitudeInput').val(), Alt:$('#AltitudeInput').val() });
        console.log($('#AcListId').val() + $('#TrackerListId').val());
    });

    $('#StopTracker').on ('click', function () {
        socket.emit('StopTracker');
        console.log("StopTracker");
    });
     

    $("#TrackerListId").change(function (){ //change event for select
        socket.emit('GetTrackersAc', {TrackerId: $('#TrackerListId').val()});
    });

    var panAngle = 100;
    var tiltAngle = 100;
    var PAN = 1; 
    var TILT = 0; 

    function PanAction(inVal)
    {
    panAngle = panAngle + inVal; 
    console.log("panAngle=" + panAngle);
    socket.emit('TurnTracker', {Axis:PAN, Value: inVal });
    }

    function beginPanAction(inVal)
    {
    PanAction(inVal);
    pan_action_timeout = setInterval(PanAction,150,inVal);
    }

    function endPanAction()
    {
    if (typeof(pan_action_timeout) != "undefined") clearTimeout(pan_action_timeout);
    }


    $('#PanPlus').mousedown(function() {
    beginPanAction(1);
    });
    $('#PanPlus').mouseup(function() {
    endPanAction();
    });

    $('#PanMins').mousedown(function() {
    beginPanAction(-1);
    });
    $('#PanMins').mouseup(function() {
    endPanAction();
    });

    function TiltAction(inVal)
    {
    tiltAngle = tiltAngle + inVal; 
    console.log("tiltAngle=" + tiltAngle);
    socket.emit('TurnTracker', { Axis:TILT, Value: inVal });
    }

    function beginTiltAction(inVal)
    {
    TiltAction(inVal);
    tilt_action_timeout = setInterval(TiltAction,150,inVal);
    }

    function endTiltAction()
    {
    if (typeof(tilt_action_timeout) != "undefined") clearTimeout(tilt_action_timeout);
    }


    $('#TiltPlus').mousedown(function() {
    beginTiltAction(1);
    });
    $('#TiltPlus').mouseup(function() {
    endTiltAction();
    });

    $('#TiltMins').mousedown(function() {
    beginTiltAction(-1);
    });
    $('#TiltMins').mouseup(function() {
    endTiltAction();
    });


//LinkStart button click
    $('#SetZero').on ('click', function () {
        socket.emit('SetZero');
        console.log("SetZero");
    });


    }); //end of main document.ready function
    </script>



</body>

</html>

