<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>PPRZ on BeagleBone</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="pull-left" style="margin-left:10px;">
                   <img src="images/penguin_logo.svg" onerror="this.onerror=null; this.src='images/penguin_logo.png'" alt="etuSec" height="42" width="42" >
                </div>
          
                <a class="navbar-brand" href="index.html">PPRZ WebController</a>
            </div>
            <!-- /.navbar-header -->


            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Main</a>
                        </li>
                        <li>
                            <a href="/trackers"><i class="fa fa-dashboard fa-fw"></i> Trackers</a>
                        </li>
                       
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">

        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tracker Controls</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tracker Parameters</h3>
                    </div>
                  <div class="panel-body">
                        <div class="form-horizontal col-xs-12" >

                            <div class="col-xs-2">                                                      
                              <input type="text" class="form-control" id="LatitudeInput" placeholder="Latitude">                             
                            </div> 

                            <div class="col-xs-2">                            
                             <input type="text" class="form-control" id="LongtitudeInput" placeholder="Longtitude" >
                            </div> 

                            <div class="col-xs-2">                            
                             <input type="text" class="form-control" id="AltitudeInput" placeholder="Altitude">
                            </div> 

                            <div class="col-xs-2">
                                <select name="TrackerListN" class="form-control" id="TrackerListId"></select>
                            </div>  
                            <div class="col-xs-2">
                                <select name="AcListN" class="form-control" id="AcListId"></select>
                            </div>
                            
                            <button id="SetTracker" class="btn btn-success">Start Tracking</button> 

                            <button id="StopTracker" class="btn btn-success">Stop</button>                            
                                        
                        </div>
                  </div>
                  <div class="panel-footer">
                        <div class="btn-group" role="group" aria-label="...">
                         <button id="PanPlus" class="btn btn-success">Pan+</button>
                        <button id="PanMins" class="btn btn-success">Pan-</button>   
                        <button id="TiltPlus" class="btn btn-success">Tilt+</button>   
                        <button id="TiltMins" class="btn btn-success">Tilt-</button>  
                        </div>
                                            
                        <button id="SetZero" class="btn btn-success">SetZero</button>      
                        </div>
                </div>


                <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->


        </div>


        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

    <script type="text/javascript" src="js/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">

    $(document).ready(function() {

    var BaseUri = 'http://' + document.domain + ':' + location.port

    namespace = '/PprzOnWeb'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            
            // event handler for server sent data
            socket.on('AC_LIST', function(msg) {
                console.log(msg.data);
                parse_status_msg(msg);
                socket.emit('GetTrackersAc', {TrackerId: $('#TrackerListId').val()});
            });

            socket.on('TRACKERS_AC', function(msg) {
                
                console.log('TRACKERS_AC:' + msg.AcId);
                $('#AcListId').val(msg.AcId);
                $('#LatitudeInput').val(msg.Lat);
                $('#LongtitudeInput').val(msg.Lon);
                $('#AltitudeInput').val(msg.Alt);

                
            });

    function parse_status_msg(inMsg) {
        console.log(inMsg.data);
        for (index = 0; index < inMsg.data.length; ++index) {
            
            console.log(inMsg.data[index].AcName);
            $('select#AcListId').append('<option value="' + inMsg.data[index].AcId + '">' + inMsg.data[index].AcName + '</option>');
            $('select#TrackerListId').append('<option value="' + inMsg.data[index].AcId + '">' + inMsg.data[index].AcName + '</option>');
        }

       
    }

    //Request AC list from server
    socket.emit('get_ac_list');

    //LinkStart button click
    $('#SetTracker').on ('click', function () {
        socket.emit('SetTracker', {TrackerId: $('#TrackerListId').val(), AcId:$('#AcListId').val(), Lat:$('#LatitudeInput').val(), Lon:$('#LongtitudeInput').val(), Alt:$('#AltitudeInput').val(), });
        console.log($('#AcListId').val() + $('#TrackerListId').val());
    });
       

    $("#TrackerListId").change(function (){ //change event for select
        socket.emit('GetTrackersAc', {TrackerId: $('#TrackerListId').val()});
    });

    var panAngle = 100;
    var tiltAngle = 100;
    var PAN = 1; 
    var TILT = 0; 

    function PanAction(inVal)
    {
    panAngle = panAngle + inVal; 
    console.log("panAngle=" + panAngle);
    socket.emit('TurnTracker', {Axis:PAN, Value: inVal });
    }

    function beginPanAction(inVal)
    {
    PanAction(inVal);
    pan_action_timeout = setInterval(PanAction,150,inVal);
    }

    function endPanAction()
    {
    if (typeof(pan_action_timeout) != "undefined") clearTimeout(pan_action_timeout);
    }


    $('#PanPlus').mousedown(function() {
    beginPanAction(1);
    });
    $('#PanPlus').mouseup(function() {
    endPanAction();
    });

    $('#PanMins').mousedown(function() {
    beginPanAction(-1);
    });
    $('#PanMins').mouseup(function() {
    endPanAction();
    });

    function TiltAction(inVal)
    {
    tiltAngle = tiltAngle + inVal; 
    console.log("tiltAngle=" + tiltAngle);
    socket.emit('TurnTracker', { Axis:TILT, Value: inVal });
    }

    function beginTiltAction(inVal)
    {
    TiltAction(inVal);
    tilt_action_timeout = setInterval(TiltAction,150,inVal);
    }

    function endTiltAction()
    {
    if (typeof(tilt_action_timeout) != "undefined") clearTimeout(tilt_action_timeout);
    }


    $('#TiltPlus').mousedown(function() {
    beginTiltAction(1);
    });
    $('#TiltPlus').mouseup(function() {
    endTiltAction();
    });

    $('#TiltMins').mousedown(function() {
    beginTiltAction(-1);
    });
    $('#TiltMins').mouseup(function() {
    endTiltAction();
    });


//LinkStart button click
    $('#SetZero').on ('click', function () {
        socket.emit('SetZero');
        console.log("SetZero");
    });


    }); //end of main document.ready function
    </script>



</body>

</html>

